@{
    ViewBag.Title = "Контакт";
}

<h3>@ViewBag.Message</h3>

<address>
   Sydorenko D.E.<br />
    Odessa, UA <br/>
    WA 98052-6399<br />
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:slimdj411@gmail.com">Slimdj411@gmail.com</a><br />
    
</address>